body{
    font-family: Verdana;
    font-size: 1.1em;
    background: silver;
    color: darkblue;
    margin: 0px;

}
h1{
    font-variant: small-caps;
    background: lightcoral;
}
a:hover {
    border: 2px solid black;
    margin: 2px;
    padding:2px;
}
.stippeltjesrand{
    border: 1px solid red;

}